version: '3'

services:
  bitsen:
      image: bitsen:latest
      container_name: bitsen
#      command: 
#        - "bash  snmp_collector/start.sh"
#        - "bash  proto_conversion/start.sh"
      restart: unless-stopped
      # ports:
      #   - 8008:8008
      # tty: true
